body {
    background-color: #708090;
    color: #000;
    font-family: Helvetica;
    text-align: center;

    .new-todo {
        width: 500px;
        color: #000;
    }

    footer {
        border-top: 1px solid #808080;
        width: 500px;
        margin: 0 auto;
        display: none;

        ul {
            list-style-type: none;
            display: inline-block;

            li {
                display: inline-block;
            }
        }
    }
}

.row {
    width: 500px;
    margin: 0 auto;
    position: relative;
    margin-top: 5px;
}

.edit {
    display: none;
}

.label {
    display: inline-block;
    width: 300px;
    font-size: 18px;
}

.editing {

    .edit {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

